body{
    background-color:aliceblue
}
h1{
    font-size: 60px;
}
h2{
    color:maroon;
    font-size: 30px;
}
.ap1{
    color:CornFlowerBlue;
}
.ap2{
    color:Cyan;
}
.ap3{
    color:DarkSeaGreen;
}
.ap4{
    color:DarkSlateGray;
}
.ap5{
    color:Olive;
}
#ul1{
    background-color:Bisque;
}
#ul2{
    background-color:coral;
}
#ul3{
    background-color:DarkSalmon;
}
#ul4{
    background-color:IndianRed;
}
#ul5{
    background-color:Plum;
}
table{
    border: 2px solid black;
}
th{
    border: 2px solid black;
}
tr{
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
.header{
    color:red;
    font-size:40px;
    font-family: fantasy;
    text-align: center;
}

.header:hover {
    color:SkyBlue;
}
.main{
    text-align: center;
}


.rectangle1 {   
    padding:130px;
    background-color:Bisque;
}

.rectangle2 {   
    padding:130px;
    background-color:coral;
  }
.rectangle3 {   
    padding:200px;
    background-color:DarkSalmon;
}
.rectangle4 {   
    padding:180px;
    background-color:IndianRed;
}
.rectangle5 {   
     padding:210px;
     background-color:Plum;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;

    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}